# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore development environment configs
.env

# Ignore npm's debug log file
npm-debug.log*

# Ignore yarn's lock file
yarn.lock

# Ignore VSCode specific files
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore editor files
*.swp
*.swo
*~
